
.myThumbSlider .swiper-slide-visible {
	max-height: 100px;
	overflow: hidden;
}

.myThumbSlider .swiper-slide-thumb-active {
	border: 2px solid #51cccc;
}

.myThumbSlider {
	overflow: hidden !important;
	max-height: 100% !important;
}

.AccordionTrigger[data-state='open'] > .icons::before {
	content: '-';
	font-size: 23px;
  }
  .AccordionTrigger[data-state='closed'] > .icons::before {
	content: '+';
	font-size: 23px;

  }
  .slider{
	width: reset!important;
	width:max-content!important;
  }
  .swiper-button-prev:after, .swiper-button-next:after{
	font-size:reset!important;
	font-size:32px!important;
    text-transform: none !important;
	color: reset!important;
	color:rgb(115 115 115)!important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
	border-color:reset!important;
	border:1px solid #e5e7eb;
	padding:5px;
	background-color:white;
  }
  
  .activeStyle {
	border: none;
	overflow: hidden;
	box-shadow: 0 0 0 4px #fff, 0 0 4px 7px #51cccc;
	background-color:red;
}
.sort-container-child{
	/* display: none; */
	visibility:hidden;
	transition: opacity 1s ease-in-out; 
}
.sort-container-parent:hover .sort-container-child{
		/* display:block; */
		visibility:visible;
}
