


.myThumbSlider .swiper-slide-visible {
	max-height: 100px;
	overflow: hidden;
	
}

.myThumbSlider .swiper-slide-thumb-active {
	border: 2px solid #51cccc;
	max-height: 100px;
	/* height: unset!important; */
}

.myThumbSlider {
	overflow: hidden !important;
	/* max-height: 100% !important; */
}

.verticalSlide {
	max-height: max-content;
	/* border: 2px solid black; */
}

.AccordionTrigger[data-state='open'] > .icons::before {
	content: '-';
	font-size: 23px;
  }
  .AccordionTrigger[data-state='closed'] > .icons::before {
	content: '+';
	font-size: 23px;

  }
  .slider{
	width: reset!important;
	width:max-content!important;
  }
  .swiper-button-prev:after, .swiper-button-next:after{
	font-size:reset!important;
	font-size:32px!important;
    text-transform: none !important;
	color: reset!important;
	color:rgb(115 115 115)!important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
	border-color:reset!important;
	border:1px solid #e5e7eb;
	padding:5px;
	background-color:white;
  }
  
  .activeStyle {
	border: none;
	overflow: hidden;
	box-shadow: 0 0 0 4px #fff, 0 0 4px 7px #51cccc;
	background-color:red;
}
.sort-container-child{
	/* display: none; */
	visibility:hidden;
	transition: opacity 1s ease-in-out; 
}
.sort-container-parent:hover .sort-container-child{
		/* display:block; */
		visibility:visible;
}

@media only screen and (min-width:768px){
	.mainSlider{
		width:80%!important;
	}
	.buttonsContainer{
		/* border:1px solid red; */
		position:unset!important;
		position:static!important;
		z-index:0;
		width:100%;
		display:flex;
		flex-direction: row-reverse;
		flex-grow:1;
		gap: 10px;
		transform: rotate(180deg);
	}
	.cartButton{
		transform: rotate(180deg);
		background-color:#ffd84d;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 45px;
		
		width: 45%!important;
	}
	.wishListBtn{
		transform: rotate(180deg);
		/* background-color:#ffd84d; */
		display: flex;
		justify-content: center;
		align-items: center;
		height: 45px;
		width: 45%!important;
	}
	.sizeContainer{
		display: flex;
		justify-content: center;
	}
	}
@media only screen and (max-width:767px){
.mainSlider{
	width:100%!important;
}
.buttonsContainer{
	/* border:1px solid red; */
	position:unset!important;
	position:fixed!important;
	bottom: 0;
	left:0;
	z-index: 10;
	width:100%;
	transform: rotate(180deg);
}
.cartButton{
	transform: rotate(180deg);
	background-color:#ffd84d;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 45px;
	width: inherit!important;
}
.wishListBtn{
	display: none;
}
}