
.myThumbSlider .swiper-slide-visible {
	max-height: 100px;
	overflow: hidden;
}

.myThumbSlider .swiper-slide-thumb-active {
	border: 2px solid #51cccc;
}

.myThumbSlider {
	overflow: hidden !important;
	max-height: 100% !important;
}